<#import "/spring.ftl" as spring />
<link rel="stylesheet" href="graphexp/css/graphStyle.css">

<style>
	.spot-content {
		padding: 1em;
	}
	.main {
		position: absolute;
		left: 0;
		width: 100%;
		height: 80vh;
		overflow: hidden;
	}
	.left_bar, .right_bar {
		z-index: 100;
	}
	.left_bar
	{
		position: absolute;
		left: 0;
		margin-left: 1em;
	}
	
	.right_bar
	{
		position: absolute;
		right: 0;
		margin-right: 1em;
	}
	#graphInfoBar li
	{
		padding-left: 0;
		margin-left: -5px;
		list-style: none;
	}
</style>

<div id="spotContainer">
	<nav>
		<fieldset>
			<legend>Navigation</legend>
			<label>Property</label>
			<select name="search_field" id="search_field" value="">
				<option>id</option>
				<#list keys as x>
				  <option>${x}</option>
				</#list>
			</select>
			<label>Id/Keyword</label>
			<input name="search_value" id="search_value" value="" />
			<button class="mat-raised-button" name="search query" onclick="search_query();">Search</button>
			<button class="mat-raised-button" name="clear" onclick="graph_viz.clear();">Clear</button>
			<div class="mat-input-container">
				<input type="checkbox" name="Freeze" id="freeze-in" /><label>Freeze</label>
				<input type="checkbox" name="showName_box" id="showName" onclick="graphShapes.show_names()"/><label>Show Labels</label>
				<input type="number" id="nbLayers" min="1" max="128" onclick="set_nb_layers()"><label>Fading Layers</label>
			</div>
		</fieldset>
		
	</nav>
	
	<div class="spot-content">
		<div class="left_bar">
			<div id="graphInfoBar">
				<button class="mat-raised-button" name="graphInfo" onclick="get_graph_info();">Refresh graph info</button>
				<input type="checkbox" name="showgraphinfo" id="showgraphinfo" onchange="show_hide_element('#graphInfo')"/>Show/hide graph info
				<div><br/></div>
			</div>
			<div id="graphInfo"></div>
		</div>
		<div id="details" class="right_bar">
			<div id="messageArea"></div>
			<div id="outputArea"></div>
			<div id="nodeInfo" style="background-color:transparent;pointer-events:none;"></div>				
		</div>
		
		<div class="main" id="main">
			<svg></svg>
		</div>
	</div>
</div>

<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="graphexp/scripts/d3.v4.min.js"></script>
<script src="graphexp/scripts/graphConf.js"></script>
<script src="graphexp/scripts/graphShapes.js"></script>
<script src="graphexp/scripts/infobox.js"></script>
<script src="graphexp/scripts/graph_viz.js"></script>
<script src="graphexp/scripts/graphioGremlin.js"></script>
<script src="js/spot.js"></script>
