<#import "/spring.ftl" as spring />
<div id="schackContainer">
	<h1>PM2 Process</h1>
	
	<nav>
		<button class="mat-raised-button" onclick="shack.loadProcessInfo();">Load</button>
	</nav>
	
	<div class="shack-processes"></div>

</div>


<script type="text/javascript">
	function Shack() {

		var processInfoElement = document.querySelector('.shack-processes');
		
		this.loadProcessInfo = function(){
			var loaderKey = 'pLoader';
			sprout.showLoader({key: loaderKey});
			sprout.zone.run(function(){
				sprout.http.get('./rest/modules/shack/processes', {responseType: 'text'}).subscribe(function(response){
					processInfoElement.innerHTML = response;
					sprout.hideLoader({key: loaderKey});
				});
			});
		};
		
		
	}
	window.shack = new Shack();
</script>